
<div align="center">
    <h1>RECEPCIÓN MATERIAL PROVEEDOR EXTERNO </h1>
    </div>
    
    <button type="button" (click)="createPDF()" class="botones">Generar Reporte</button>
    
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Ticket">
          <th mat-header-cell *matHeaderCellDef> Ticket </th>
          <td mat-cell *matCellDef="let element"> {{element.Ticket}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Instrumental">
          <th mat-header-cell *matHeaderCellDef> Instrumental </th>
          <td mat-cell *matCellDef="let element"> {{element.Instrumental}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Proveedor">
          <th mat-header-cell *matHeaderCellDef> Proveedor </th>
          <td mat-cell *matCellDef="let element"> {{element.Proveedor}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Responsable">
          <th mat-header-cell *matHeaderCellDef> Responsable</th>
          <td mat-cell *matCellDef="let element"> {{element.Responsable}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Estatus">
          <th mat-header-cell *matHeaderCellDef> Estatus</th>
          <td mat-cell *matCellDef="let element"> {{element.Estatus}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>